header {
    height: 2em;
    background: blue;
    /* overflow: auto; */
}

a {
    color: inherit;
    text-decoration: none;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-auto-rows: fit-content(5em, max-content); */
    grid-row-gap: 1em;
    grid-column-gap: 0.5em;
    margin: 0.5em;
}

.section-heading {
    font-size: 2em;
    font-weight: 700;
    /*common?*/
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    grid-column: 1 / -1;
    color: #ef472b;
}

/* .right-angle-br {
    display: inline-block;
    width: 2em;

} */

.featured-container {
    grid-auto-rows: minmax(10em, auto);
}

.featured-art {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: green;
    border: 2px solid red;
    color: white;
    font-size: 1em;
}

@media only screen and (min-width:768px) {
    .featured-art {
        grid-column: 9 / -1;
    }

    .first-art {
        grid-column: 1 / span 8;
        grid-row: 1 / span 2;
    }
}

.first-art {
    background-image: url(../images/Moonday-morning-cryptocurrency-vaporwave-blockchain-news-796x448.jpg);
    background-size: cover;
    background-position: bottom;
}

.second-art {
    background-image: url(../images/wallie-bitcoin-wallet-cryptocurrency-blockchain-abn-amro-marketing-ehtereum-denied-796x448.png);
    background-size: cover;
    background-position: bottom;
}

.third-art {
    background-image: url(../images/Moonday-morning-cryptocurrency-vaporwave-blockchain-news-796x448.jpg);
    background-size: cover;
    background-position: bottom;
}

/*
-----------------------------------------------------
Styles for Latest news
-----------------------------------------------------
*/

.latest-container {
   /* background: palegreen; */
   padding: 0.5em;
}

.latest-art {
    grid-column: 1 / -1;
    /* background: yellow; */
    
}

.latest-art img {
    max-width: 20%;
    height: auto;
    float: left;
}

.item-heading {
    font-size: 1em;
    font-weight: 700;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    /* border: 2px solid palevioletred; */
}

.latest-art small {
    color: grey;
}

@media screen and (min-width:768px) {
    .latest-art {
        grid-column: auto / span 4;
    }

    .latest-art img {
        float: none;
        max-width: 100%;
        /* height: auto; */
    }

    .item-heading {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    
}

@media screen and (min-width: 1024px) {
    .latest-art {
        grid-column: auto / span 3;
    }

}

/*
--------------------------------------------------------
Funding Section
--------------------------------------------------------
*/

.funding-container {
    /* background: wheat; */
    /* grid-auto-rows: minmax(10em, auto); */
}

.funding-header{
    color: #ef472b;
    grid-column: 1 / -1;
}

.funding-header ul {
    font-size: 1.2em;
}

.funding-art > div:nth-child(n + 2) {
    background-color: #fefaf8;
    
}

.funding-art > div:nth-child(2) {
    border-bottom: 0.5px solid #ef472b;
}

.funding-art-header div:first-of-type {
    background-color: #ef472b;
    padding-left: 6em;
}

.funding-art-header div:last-of-type {
    background-color: #fce8e7;
    padding-left: 6em;
}

.funding-art-header img {
    float: left;
    height: auto;
    margin-left: 1em;
    margin-top: 1em;
    width: 4em;
}

.funding-art p {
    padding-bottom: 1em;
    padding-top: 1em;
}

.funding-art > div:nth-child(n + 2) p {
    padding-left: 3em;
}

/* .funding-header .section-heading,  */
.funding-header ul,
.funding-header li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.funding-art {
    grid-column: 1 / -1;
}

@media screen and (min-width: 768px) {
    .funding-art {
        grid-column: auto / span 4;
    }

    .funding-header li {
        display: inline;
        padding-right: 1em;
    }

    .funding-header li:nth-of-type(n + 2) {
        border-left: 1px solid #ef472b;
        padding-left: 1em;
    }
}

@media screen and (min-width: 1024px) {
    
    .funding-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 1em;
        padding-top: 1em;
    }

    .funding-header ul,
    .funding-header li,
    .funding-header .section-heading {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;
    }

    .funding-header ul {
        align-self: end;
        justify-self: end;
    }
}

/*
--------------------------------------------------------
Categories Section
--------------------------------------------------------
*/

.categories {
    background: brown;
}

.category {
    background: rgb(204, 141, 23);
}

/*
--------------------------------------------------------
Deals Section
--------------------------------------------------------
*/

.deals-container {
    padding: 0.5em;
 }

.deals-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
}

.deals-header .section-heading {
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 1 / span 6;
}

.deals-header > p {
    grid-column: 7 / span 6;
    align-self: end;
    justify-self: end;
    color: #ef472b;
}

.deals-art {
    grid-column: 1 / -1;
    /* background: blueviolet; */
}

.deals-container span:first-of-type {
    margin-right: 1em;
    text-decoration: line-through;
    color: grey;  
}

.deals-container span:last-of-type {
    font-weight: 500;
}

/* .item-heading */